photo-gallery {
  margin-bottom: 30px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.main-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.photo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.quote-box {
  grid-column: span 2;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.newBox {
  display: flex;
  width: 100%;
  justify-content: center;
}

.quote-box blockquote {
  font-style: italic;
  font-size: 1.1em;
  margin: 0;
}

@media (max-width: 768px) {
  .gallery-grid {
    grid-template-columns: 1fr;
  }

  .photo-grid {
    grid-template-columns: 1fr;
  }

  .quote-box {
    grid-column: span 1;
  }
}
